body {
  background-color: #feddaf;
  background: url(./images/highrescup.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bestowDiv {
  background-color: #f5ab08;
  padding: 20px;
  width: 100%;
  border: 8px white solid;
  text-align: center;
  box-shadow: 0 0 8px 2px #ffffff;
}

.coffeeShops {
  text-align: center;
  border: 8px black solid;
  background-color: white;
  padding-top: 20px;
  margin-left: 15%;
  margin-right: 20px;
  width: 300px;
  height: 400px;
  margin-top: 15%;
  background-color: rgba(255, 255, 255, 1);
  right: calc(50% - 50px);
  transition: 0.3s ease-in-out;
  z-index: 0;
  box-shadow: 0 0 15px 9px #00000096;
}

.user {
  height: 200px;
  width: 300px;
}
.profile {
  text-align: center;
  border: 8px black solid;
  margin-left: 15%;
  width: 600px;
  height: 170px;
  margin-left: 20%;
  margin-top: 10%;
  background-color: rgba(255, 255, 255, 1);
  right: calc(50% - 50px);
  transition: 0.3s ease-in-out;
  z-index: 0;
  box-shadow: 0 0 15px 9px #00000096;
}

.hot {
  display: inline-block;
  height: 200px;
  width: 250px;
  border: 8px black solid;
  margin-left: 70%;
  background-color: rgba(255, 255, 255, 1);
  right: calc(50% - 50px);
  transition: 0.3s ease-in-out;
  z-index: 0;
  box-shadow: 0 0 15px 9px #00000096;
}

.cold {
  display: inline-block;
  height: 200px;
  width: 240px;
  border: 8px black solid;
  margin-left: 70%;
  background-color: rgba(255, 255, 255, 1);
  right: calc(50% - 50px);
  transition: 0.3s ease-in-out;
  z-index: 0;
  box-shadow: 0 0 15px 9px #00000096;
}

.center {
  display: inline-block;
  height: 200px;
  width: 600px;
  border: 8px black solid;
  /* margin-left: 100%; */
  background-color: rgba(255, 255, 255, 1);
  right: calc(50% - 50px);
  transition: 0.3s ease-in-out;
  z-index: 0;
  box-shadow: 0 0 15px 9px #00000096;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

table,
th,
td {
  border: 1px solid black;
  width: 150px;
}

.navLogOut {
  width: 100%;
}

#logoutButton {
  position: relative;
  float: right;
  opacity: 0.6;
  margin-right: 10vw;
  background-color: #f5ab08;
  padding: 10px;
  border: 2px white solid;
  text-align: center;
  box-shadow: 0 0 2px 2px #ffffff;
  transition-duration: 1.2s;
}

#logoutButton:hover {
  opacity: 1;
  box-shadow: 0 0 4px 2px #ffffff;
  transition-duration: 1.2s;
}
#userNameGoesHere{
margin-top: 5px;
}
.inputOndash{
  width: 90%;
}