/* ------------------------------------------------ */
/* Splash page */

.bestowDiv {
    background-color: #f5ab08;
    padding: 20px;
    width: 100%;
    border: 8px white solid;
    text-align: center;
    box-shadow: 0 0 8px 2px #ffffff;
}

body {
    background: url(./images/highrescup.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.red-panel{
  background-color: #f5aa089c;
  height:400px;
  margin-top: 50px;
  margin-left: 250px;
  /* position:absolute; */
  padding-top: 80px;
  padding-right: 10px;
  padding-left: 20px;
  top:-50px;
  width:50%;
  right:calc(50% - 50px);
  transition:.3s ease-in-out;
  z-index:0;
  box-shadow: 0 0 15px 9px #00000096;
  color:#444444
}

.login-show input[type="text"], .login-show input[type="password"]{
  width: 100%;
  display: block;
  margin:20px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #b5b5b5;
  outline: none;
  color: #444444;
}

.login-show input[type="button"] {
  max-width: 150px;
  width: 100%;
  background: #444444;
  color: #f9f9f9;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 2px;
  float:right;
  cursor:pointer;
}
  
  