/* .list-group-item {
  line-height: 2.5;
} */

body {
  background-color: #feddaf;
}

.bestowDiv {
  background-color: #56cefb;
  padding: 20px;
  width: 100%;
  border: 8px white solid;
  text-align: center;
}

.coffeeShops{
  text-align: center;
  border: 8px black solid;
  background-color: white;
  margin-left: 15%;
  width: 300px;
  margin-top: 15%;

}
.selectB{
  text-align: center;
  border: 8px black solid;
  background-color: white;
  margin-left: 15%;
  width: 300px;
  margin-left: 50%;
  margin-top: 10%;

}

.hot{
  display: inline-block;
  height: 200px;
  width: 250px;
  border: 8px black solid;
  background-color: white;
  margin-left: 70%;
}

.cold{
  display: inline-block;
  height: 200px;
  width: 240px;
  border: 8px black solid;
  background-color: white;
  margin-left: 70%;
}

.hotText{
  margin-left: 70%;
}
.coldText{
  margin-left: 70%;
}

.login {
  display: inline-block;
  height: 200px;
  width: 240px;
  border: 8px black solid;
  background-color: #42342e;
  margin-left: 40%;
}

.signUp {
  display: inline-block;
  height: 200px;
  width: 240px;
  border: 8px black solid;
  background-color:#160701;
  margin-left: 50%;
}

.signText{
  margin-left: 50%;
}
.loginText{
  margin-left: 40%;
}

.whyB{
  text-align: center;
  border: 8px black solid;
  background-color: white;
  margin-left: 15%;
  width: 300px;
  margin-left: 40%;
  margin-top: 5%;

}